</body>

<footer class="text-center mt-6 fixed-bottom">
  <p class="font-size-1-2 text-white text-center pt-1 text-kalam">&copy;<span
      class="footerText"><%= footerText %></span></p>

</footer>

<script src="/js/app.js"></script>

</html>