<footer class="text-center mt-6 sticky-bottom pt-6">
  <p class="font-size-1-2 text-white text-center pt-1 text-open-sans">&copy;<span
      class="footerText"><%= footerText %></span></p>

</footer>

<script src="/js/app.js"></script>