<section id="nav" class="">
   <nav class="navbar navbar-expand-lg navbar-dark " id="mainNavBar">
      <a class="navbar-brand" href="/">Express Demo ni Gatchi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/cats">Cats <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/random">Random</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  Subreddit
               </a>

               <div class="dropdown-menu bg-drop-lg" id="dropdownMenu">
                  <a class="dropdown-item text-white-50" href="/r/chickens">Chickens</a>
                  <a class="dropdown-item text-white-50" href="/r/soccer">Soccer</a>
                  <a class="dropdown-item text-white-50" href="/r/mightyharvest">Mighty Harvest</a>

               </div>
            </li>

            <!-- <li class="nav-item">
               <a class="nav-link" href="/r/chickens">Chickens</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/r/soccer">Soccer</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/r/mightyharvest">Mighty Harvest</a>
            </li> -->
            <li class="nav-item">
               <a class="nav-link" href="/comments">Comment</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/tae">Awit</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/te">Awit</a>
            </li>

         </ul>
      </div>
   </nav>
</section>